# Database Credentials
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=countries_pipeline_dev
DB_USER=countries_etl_user
DB_PASSWORD=your_strong_password_here

API_URL=https://api.restcountries.com/countries/v5
API_KEY=your_api_key_here